/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans {
  font-family: "Work Sans", serif;
  font-weight: 400;
}
/* GOOGLE FONTS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* common styles */
.dark-1 {
  color: #131313;
}
.dark-2 {
  color: #424242;
}
.dark-3 {
  color: #727272;
}
.dark-4 {
  color: #a1a1a1;
}
.dark-5 {
  color: #d0d0d0;
}
.dark-6 {
  color: #e7e7e7;
}
.dark-7 {
  color: #f3f3f3;
}

.container {
  width: 1440px;
  height: fit-content;
  margin: 0 auto;
  /* background-color: yellow; */
}

.btn {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 2.5rem;
  background-color: #ff900e;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: #fff;
  width: fit-content;
}

.bold {
  font-weight: 700;
  color: #131313;
}

.text-primary {
  color: #ff900e;
}
/* common styles ends */

/* header section styles */
header {
  width: 100%;
  height: fit-content;
  background-color: #fff4e7;
  padding: 0 0 3rem 0;
}

header nav {
  width: 100%;
  height: 9rem;
  /* background-color: red; */
}

header nav .container {
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .container h3 {
  font-size: 3.5rem;
}

header nav .container ul {
  display: flex;
  align-items: center;
  gap: 4rem;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
}

/* banner */
#banner {
  width: 100%;
  height: fit-content;
}

#banner .container .banner-text {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

#banner .container .banner-text .text-wrapper {
  width: 84rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#banner .container .banner-text .text-wrapper h1 {
  font-size: 7rem;
  line-height: 1;
}

#banner .container .banner-text .text-wrapper p {
  font-size: 1.6rem;
}

#banner .container .banner-text .text-wrapper .btn {
  width: fit-content;
  margin: 0 auto;
}

#banner .container .banner-image {
  width: 100%;
  height: fit-content;
  padding-top: 4rem;
}

#banner .container .banner-image img {
  width: 100%;
  height: fit-content;
  object-fit: contain;
}

/* Features section styles */
#features {
  width: 100%;
  height: fit-content;
  padding: 8rem 0;
}

#features .container {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

#features .container .left {
  width: 50%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  /* background-color: yellow; */
}

#features .container .right {
  width: 50%;
}

#features .container .right h3 {
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 2rem;
}

#features .container .right p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

/* Feature-list section */
#feature-list {
  width: 100%;
  height: 113vh;
  padding: 5rem 0 10rem 0;
}

#feature-list .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

#feature-list .container .left {
  width: 45%;
  height: 100%;
}

#feature-list .container .left .title-box {
  width: 100%;
}

#feature-list .container .left .title-box .headings {
  border-left: 3px solid #ff900e;
  padding-left: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  height: fit-content;
}

#feature-list .container .left .title-box .headings h1 {
  font-size: 4.5rem;
  line-height: 1;
}

#feature-list .container .left .title-box p {
  font-size: 1.8rem;
}

#feature-list .container .left .feature-items {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4rem;
}

#feature-list .container .left .feature-items .item {
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 0.35rem rgba(0, 0, 0, 0.3);
}

#feature-list .container .left .feature-items .item .item-content {
  width: 100%;
}

#feature-list .container .left .feature-items .item .item-content h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

#feature-list .container .left .feature-items .item .item-content p {
  font-size: 1.8rem;
}

#feature-list .container .right {
  width: 55%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  position: relative;
  justify-content: end;
  align-items: flex-start;
}

#feature-list .container .right .image-box {
  width: 82%;
  height: 98%;
  /* background-color: green; */
  background-image: url(images/architect.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

#feature-list .container .right .btn {
  position: absolute;
  bottom: 0;
  left: 3rem;
  font-size: 3rem;
  line-height: 0.8;
  text-transform: uppercase;
  padding: 2rem 4rem;
}

#feature-list .container .right .btn .small-text {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
}

/* Facts section */
#facts {
  width: 100%;
  height: fit-content;
  padding: 5rem 0 11rem 0;
}

#facts .container .title-box .headings h1 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

#facts .container .title-box p {
  font-size: 1.8rem;
}

#facts .container .fact-container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

#facts .container .fact-container .fact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid #ff900e;
  border-radius: 1rem;
  padding: 6rem 0;
}

#facts .container .fact-container .fact-box h2 {
  font-size: 3.5rem;
}

#facts .container .fact-container .fact-box h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

/* sponsor section styles */
#sponsor {
  width: 100%;
  height: fit-content;
  padding: 3rem 0 10rem 0;
}

#sponsor .container .title-box {
  text-align: center;
}

#sponsor .container .title-box .headings h1 {
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
}

#sponsor .container .title-box p {
  font-size: 1.8rem;
}

#sponsor .container .sponsor-container {
  width: 100%;
  height: fit-content;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 4rem;
}

#sponsor .container .sponsor-container .sponsor-image img {
  filter: grayscale(100%);
}

/* FOOTER SECTION */
footer {
  width: 100%;
  height: fit-content;
  padding: 5rem 1rem 8rem 1rem;
}

footer .container .footer-text {
  padding: 3rem 0;
  font-size: 1.8rem;
  text-align: center;
  background-color: #fff4e7;
  border-radius: 1rem;
}

/* ##################### MEDIA QUERIES ################## */
@media screen and (max-width: 576px) {
  html {
    font-size: 40%;
  }
  .container {
    width: 100%;
  }

  header nav {
    height: 10rem;
    /* background-color: red; */
  }

  header nav .container {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  header nav .container h3 {
    font-size: 3.5rem;
  }

  /* banner */
  #banner .container .banner-text {
    padding: 1rem;
    padding-top: 10rem;
  }

  #banner .container .banner-text .text-wrapper h1 {
    font-size: 5rem;
  }

  #banner .container .banner-text .text-wrapper p {
    font-size: 1.8rem;
  }

  /* Features section styles */
  #features .container {
    width: 100%;
    flex-direction: column;
  }

  #features .container .left {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  #features .container .right {
    width: 100%;
    padding: 0 2rem;
  }
  /* Feature-list section */
  #feature-list {
    width: 100%;
    height: fit-content;
    padding: 5rem 1rem;
  }

  #feature-list .container {
    flex-direction: column;
    gap: 8rem;
  }

  #feature-list .container .left {
    width: 100%;
  }

  #feature-list .container .right {
    width: 100%;
    height: 70vh;
  }

  #feature-list .container .right .image-box {
    width: 100%;
    height: 95%;
  }

  #feature-list .container .right .btn {
    left: 50%;
    transform: translateX(-50%);
  }

  /* Facts section */
  #facts {
    padding: 5rem 1rem 11rem 1rem;
  }

  #facts .container .title-box p {
    font-size: 1.8rem;
  }

  #facts .container .fact-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }

  /* sponsor section styles */
  #sponsor .container .sponsor-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 6rem;
    margin-top: 7rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .container {
    width: 100%;
  }

  header nav {
    height: 10rem;
    /* background-color: red; */
  }

  header nav .container {
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;
  }

  header nav .container h3 {
    font-size: 3rem;
  }

  header nav ul {
    gap: 2rem;
  }

  header nav ul li a {
    font-size: 2.7rem;
  }

  /* banner */
  #banner .container .banner-text {
    padding: 1rem;
    padding-top: 10rem;
  }

  #banner .container .banner-text .text-wrapper h1 {
    font-size: 6rem;
  }

  #banner .container .banner-text .text-wrapper p {
    font-size: 2rem;
  }

  /* Features section styles */
  #features .container {
    width: 100%;
    flex-direction: column;
  }

  #features .container .left {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  #features .container .right {
    width: 100%;
    padding: 0 2rem;
  }

  #features .container .right h3 {
    font-size: 4.5rem;
  }

  #features .container .right p {
    font-size: 1.9rem;
  }

  /* Feature-list section */
  #feature-list {
    width: 100%;
    height: fit-content;
    padding: 5rem 1rem;
  }

  #feature-list .container {
    flex-direction: column;
    gap: 8rem;
    /* background-color: yellow; */
  }

  #feature-list .container .left {
    width: 100%;
  }

  #feature-list .container .left .feature-items {
    margin-top: 7rem;
  }
  #feature-list .container .left .title-box p {
    font-size: 2.1rem;
    margin-top: 3.5rem;
  }

  #feature-list .container .left .feature-items .item .item-content h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  #feature-list .container .left .feature-items .item .item-content p {
    font-size: 2.1rem;
  }

  #feature-list .container .right {
    width: 100%;
    height: 110vh;
  }

  #feature-list .container .right .image-box {
    width: 100%;
    height: 96.2%;
  }

  #feature-list .container .right .btn {
    left: 50%;
    transform: translateX(-50%);
  }

  /* Facts section */
  #facts {
    padding: 5rem 1rem 11rem 1rem;
  }

  #facts .container .title-box p {
    font-size: 1.8rem;
  }

  #facts .container .fact-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  #sponsor .container .sponsor-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6rem;
    margin-top: 7rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 60%;
  }

  .container {
    width: 100%;
  }

  header nav {
    height: 10rem;
    /* background-color: red; */
  }

  header nav .container {
    padding: 0 1rem;
  }

  header nav .container h3 {
    font-size: 3rem;
  }

  header nav ul li a {
    font-size: 2.1rem;
  }

  /* banner */
  #banner .container .banner-text {
    padding: 1rem;
    padding-top: 10rem;
  }

  #banner .container .banner-text .text-wrapper h1 {
    font-size: 6rem;
  }

  /* Features section styles */
  #features .container {
    width: 100%;
    flex-direction: column;
  }

  #features .container .left {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  #features .container .right {
    width: 100%;
    padding: 0 2rem;
  }

  #features .container .right h3 {
    font-size: 4.5rem;
  }

  #features .container .right p {
    font-size: 1.9rem;
  }

  /* Feature-list section */
  #feature-list {
    width: 100%;
    height: fit-content;
    padding: 5rem 1rem;
  }

  #feature-list .container {
    flex-direction: column;
    gap: 8rem;
    /* background-color: yellow; */
  }

  #feature-list .container .left {
    width: 100%;
  }

  #feature-list .container .left .feature-items {
    margin-top: 7rem;
  }
  #feature-list .container .left .title-box p {
    font-size: 2.1rem;
    margin-top: 3.5rem;
  }

  #feature-list .container .left .feature-items .item .item-content h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  #feature-list .container .left .feature-items .item .item-content p {
    font-size: 2.1rem;
  }

  #feature-list .container .right {
    width: 100%;
    height: 80vh;
  }

  #feature-list .container .right .image-box {
    width: 100%;
    height: 96.2%;
  }

  #feature-list .container .right .btn {
    left: 50%;
    transform: translateX(-50%);
  }

  /* Facts section */
  #facts {
    padding: 5rem 1rem 11rem 1rem;
  }

  #facts .container .title-box p {
    font-size: 1.8rem;
  }

  #facts .container .fact-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  #sponsor .container .sponsor-container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6rem;
    margin-top: 7rem;
  }
}

@media screen and (min-width: 993px) and (max-width: 1440px) {
  .container {
    width: 100%;
  }

  /* Features section styles */
  #features .container {
    width: 100%;
    flex-direction: row;
    gap: 2rem;
    padding: 0 1rem;
  }

  #features .container .left {
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem;
  }

  #features .container .left .image-box {
    width: 100%;
  }

  #features .container .left .image-box img {
    width: 100%;
  }

  #features .container .right {
    width: 50%;
    padding: 0 2rem;
  }

  #features .container .right h3 {
    font-size: 4.5rem;
  }

  #features .container .right p {
    font-size: 1.9rem;
  }

  /* Feature-list section */
  #feature-list {
    width: 100%;
    height: fit-content;
    padding: 5rem 1rem;
  }

  #feature-list .container {
    flex-direction: column;
    gap: 8rem;
    /* background-color: yellow; */
  }

  #feature-list .container .left {
    width: 100%;
  }

  #feature-list .container .left .feature-items {
    margin-top: 7rem;
  }
  #feature-list .container .left .title-box p {
    font-size: 2.1rem;
    margin-top: 3.5rem;
  }

  #feature-list .container .left .feature-items .item .item-content h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  #feature-list .container .left .feature-items .item .item-content p {
    font-size: 2.1rem;
  }

  #feature-list .container .right {
    width: 100%;
    height: 120vh;
  }

  #feature-list .container .right .image-box {
    width: 100%;
    height: 96.2%;
  }

  #feature-list .container .right .btn {
    left: 50%;
    transform: translateX(-50%);
  }

  /* Facts section */
  #facts {
    padding: 5rem 1rem 11rem 1rem;
  }

  #facts .container .title-box p {
    font-size: 1.8rem;
  }

  #facts .container .fact-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }

  #sponsor .container .sponsor-container {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 6rem;
    margin-top: 7rem;
  }
}
